@use '../../styles/variebles.scss' as *;




.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../../images/background.png);
    background-size: cover;
    max-width: 100%;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-left: 211px;
        padding-right: 216px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 100px;
        padding-left: 323px;
        padding-right: 408px;
        padding-bottom: 100px;
    }



    .heroTitle {
        color: white;
        @include font-family($fontM, 400);
        font-size: 20px;
        text-align: center;
        padding-top: 50px;

        @media screen and (min-width: 768px) {
            @include font-family($fontM, 400);
            font-size: 20px;
            padding-top: 40px;
        }

        @media screen and (min-width: 1200px) {
            @include font-family($fontM, 600);
            font-size: 40px;
            padding-top: 100px;
        }
    }

    .heroFlex {
        display: flex;

        margin-top: 80px;

        @media screen and (min-width: 768px) {
            gap: 34px;
        }

        @media screen and (min-width: 1200px) {
            gap: 52px;
        }

        .heroInfo {
            color: white;
           @include font-family($fontM, 400);
           font-size: 24px;

            @media screen and (min-width: 768px) {
              @include font-family($fontM, 400);
            }

            @media screen and (min-width: 1200px) {
                 @include font-family($fontM, 400);
            }
        }

        .heroDate {
            color: white;
            @include font-family($fontM, 600)
        }
    }

    .heroTextGroup {
        margin-left: 50px;

        @media screen and (min-width: 768px) {
            margin-left: 10px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 10px;
        }
    }

    .heroFlex2 {
        display: flex;
        margin-top: 80px;
        justify-content: center;
    }

    .heroInput {
        @include font-family($fontM, 300);
        background-color: #D9D9D9;
        border: none;
        position: relative;
        border-radius: 10px 0px 0px 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;


        @media screen and (min-width: 768px) {

            padding-top: 8;
            padding-bottom: 6px;
            padding-left: 18px;
        }

        @media screen and (min-width: 1200px) {
            width: 578px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 29px;
        }
    }

    .search {
        background-color: #FFB36C;
        border-radius: 0 15px 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {}
    }

    .imgSearch {
        width: 9px;
        height: 9px;

        @media screen and (min-width: 768px) {
            width: 16px;
            height: 16px;
        }

        @media screen and (min-width: 1200px) {
            width: 25px;
            height: 25px;
        }


    }

    

}

