@use '../../styles/variebles.scss' as *;




.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../../images/background.png);

    background-size: cover;
    

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-left: 211px;
        padding-right: 216px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 100px;
    padding-left: 323px;
    padding-right: 408px;
    padding-bottom: 100px;
    }



    .heroTitle {
        color: white;
        @include font-family($fontM, 600);
        font-size: 14px;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }

        @media screen and (min-width: 1200px) {
             font-size: 40px;
        }
    }

    .heroFlex {
        display: flex;
       
        margin-top: 80px;

        @media screen and (min-width: 768px) {
            gap: 34px;
        }

        @media screen and (min-width: 1200px) {
 gap: 52px;
        }
            
    }

    .heroInfo {
        @include font-family($fontM, 400);
        color: white;
        font-size: 10px;
        max-width: 345px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1200px) {
            
            font-size: 24px;
        }
    }

    .heroDate {
        @include font-family($fontM, 400);
        color: white;
        font-size: 10px;
        max-width: 164px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 24px;
        }
    }

    .heroFlex2 {
        display: flex;
        margin-top: 80px;
        margin-left: 100px;
    }

    .heroInput {
        position: absolute;
        background-color: #D9D9D9;
        border: none;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 29px;
        position: relative;
        border-radius: 10px 0px 0px 10px;

        @media screen and (min-width: 768px) {
            width: 500px;
        }

        @media screen and (min-width: 1200px) {
            width: 578px;
        }
    }

    .search {
        background-color: #FFB36C;
        border-radius: 0 15px 15px 0;
        padding-top: 8px;
        padding-bottom: 9px;
        padding-left: 10px;
        padding-right: 10px;

        @media screen and (min-width: 768px) {
            
        }

        @media screen  and (min-width: 1200px) {
            
        }
    }

    .imgSearch {
        width: 25px;
        height: 25px;
    }

}