.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 393px;
  @media screen and (min-width: 420px) {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    max-width: 834px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1440px;
  }
}
button {
    cursor: pointer;
}

*, *::before, *::after {
  box-sizing: border-box;
}