@use "../../styles/variebles" as *;

footer {
   padding-top: 40px;
   padding-bottom: 64px;
   background-color: #FFB36C;
   @include font-family($fontM, 500);

   .footerFlex {
    display: flex;
    gap: 103px;
   }

   .footerList {
      display: flex;
      gap: 103px;
      list-style: none;
   }

   .socialsList {
      display: flex;
      list-style: none;
      gap: 20px;
      padding: 0;
   }

   .footerDescriprionAddress {
      max-width: 130px;
   }
}
