@use "../../styles/variebles" as *;

footer {
   padding-top: 40px;
   padding-bottom: 64px;
   background-color: #FFB36C;
   @include font-family($fontM, 500);

   .footerFlex {
    display: flex;
    flex-direction: column;
   //  justify-content: left;
    align-items:first baseline;
    gap: 103px;

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
   }

   .footerList {
      display: flex;
      flex-direction: column;
      gap: 103px;
      list-style: none;

        @media screen and (min-width: 768px) {
         flex-wrap: wrap;
      }

      @media screen and (min-width: 1200px) {
         flex-direction: row;
      }
   }

   .socialsList {
      display: flex;
      list-style: none;
      gap: 20px;
      padding: 0;

    
   }

   .footerDescriprionAddress {
      max-width: 130px;
   }
}
